<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    {% include 'global/partials/head.html' %}
  </head>
  <body>
    <div class="blog-wrapper">
      {% if site_setup.show_header %}
        {% include 'global/partials/header.html' %}
      {% endif %}

      {% block content %}
      {% endblock %}

      {% if site_setup.show_pagination %}
        {% include 'global/partials/pagination.html' %}
      {% endif %}

      {% if site_setup.show_footer %}
        {% include 'global/partials/footer.html' %}
      {% endif %}
    </div>
  </body>
</html>
